{{ define "main" }}

<div class="paper">
    <div class="name-bar">
        <h1>{{ .Site.Params.Name }}</h1>

        {{ with .Site.Params.Contacts }}
            <div class="contacts">
                {{ range .List }}
                    <div class="contact">
                        {{ if .url }}
                            <a href="{{ .url | safeURL }}">{{ .info }}</a>
                        {{ else }}
                            {{ .info }}
                        {{ end }}
                    </div>
                {{ end }}
            </div>
        {{ end }}

    </div>

    <div class="details">
        {{ with .Site.Params.Description }}
            <div class="description">{{ . }}</div>
        {{ end }}

        {{ with .Site.Params.Interests }}
            <div class="interests">
                <h2 class="section-heading">Research Interests</h2>
                <ul>
                    {{ range .List }}
                        <li>{{ .interest }}</li>
                    {{ end }}
                </ul>
            </div>
        {{ end }}

        {{ with .Site.Params.Education }}
            <div class="education">
                <h2 class="section-heading">Education</h2>
                <ul>
                    {{ range .List }}
                        <li>
                            <div class="metadata">
                                <strong>{{ .degree }}</strong>
                                {{ partial "period.html" . }}
                            </div>
                            {{ .institution }}
                        </li>
                    {{ end }}
                </ul>
            </div>
        {{ end }}

        {{ if .Site.Params.Projects.Enable }}
            <div class="projects">
                <h2 class="section-heading"><a href="{{ .Permalink }}projects/">Projects</a></h2>
                {{ with .Site.GetPage "/projects" }}
                    {{ range sort .Data.Pages "Params.end" "desc" }}
                        <div class="entry">
                            <div class="metadata">
                                <strong><a href="{{ .Permalink }}">{{ .Title }}</a></strong>
                                {{ partial "period.html" .Params }}
                            </div>
                            {{ partial "summary.html" . }}
                        </div>
                    {{ end }}
                {{ end }}
            </div>
        {{ end }}

        {{ with .Site.Params.Publications }}
            <div class="publications">
                <h2 class="section-heading">Publications</h2>
                <ul>
                    {{ range .List }}
                        {{ if .selected }}
                            <li>{{ partial "publication.html" . }}</li>
                        {{ end }}
                    {{ end }}
                </ul>
            </div>
        {{ end }}

        {{ if .Site.Params.Posts.Enable }}
            <div class="posts">
                <h2 class="section-heading"><a href="{{ .Permalink }}posts/">Posts</a></h2>
                {{ with .Site.GetPage "/posts" }}
                    {{ range first 3 (sort .Data.Pages "Date" "desc")}}
                        <div class="entry">
                            <div class="metadata">
                                <strong><a href="{{ .Permalink }}">{{ .Title }}</a></strong>
                                <time>{{ .Date | time.Format ":date_long" }}</time>
                            </div>
                            {{ partial "summary.html" . }}
                        </div>
                    {{ end }}
                    {{ if gt (len .Pages) 5 }}
                    <p>...</p>
                    {{ end }}
                {{ end }}
            </div>
        {{ end }}

        {{ with .Site.Params.People }}
            <div class="people">
                <h2 class="section-heading">People</h2>
                    <strong>Supervisor: </strong>{{ .Supervisor }}
                    <br/>
                    {{ range $i, $person := .Coauthors.List }}
                        {{ if $i }}, {{ else }}<strong>Co-authors:</strong>{{ end }}
                        {{ if .url }}
                            <a class="person" href="{{ .url | safeURL }}">{{ .name }}</a>
                        {{ else }}
                            {{ .name }}
                        {{ end }}
                    {{ end }}
                </ul>
            </div>
        {{ end }}
    </div>
</div>

{{ end }}