{{ define "main" }}

<div class="paper">
    <div class="name-bar">
        <h1>{{ .Site.Params.Name }}</h1>

        {{ with .Site.Params.Contacts }}
            <div class="contacts">
                {{ range .List }}
                    <div class="contact">
                        {{ if .url }}
                            <a href="{{ .url | safeURL }}">{{ .info }}</a>
                        {{ else }}
                            {{ .info }}
                        {{ end }}
                    </div>
                {{ end }}
            </div>
        {{ end }}

    </div>

    <div class="details">
        {{ with .Site.Params.Description }}
            <div class="description">{{ . }}</div>
        {{ end }}

        {{ with .Site.Params.Interests }}
            <div class="interests">
                <h2 class="section-heading">Research Interests</h2>
                <ul>
                    {{ range .List }}
                        <li>{{ .interest }}</li>
                    {{ end }}
                </ul>
            </div>
        {{ end }}

        {{ partial "section.html" (dict "Title" "Education" "Content" .Site.Params.Education) }}

        {{ partial "section.html" (dict "Title" "Employment" "Content" .Site.Params.Employment) }}

        {{ if .Site.Params.Projects.Enable }}
            <div class="projects">
                <h2 class="section-heading"><a href="{{ .Permalink }}projects/">Projects</a></h2>
                {{ with .Site.GetPage "/projects" }}
                    {{ range sort .Data.Pages "Params.end" "desc" }}
                        <div class="entry">
                            <div class="metadata">
                                <strong><a href="{{ .Permalink }}">{{ .Title }}</a></strong>
                                {{ partial "period.html" .Params }}
                            </div>
                            {{ partial "abstract.html" . }}
                        </div>
                    {{ end }}
                {{ end }}
            </div>
        {{ end }}

        {{ with .Site.Params.Publications }}
            <div class="publications">
                <h2 class="section-heading">Publications</h2>
                <ul>
                    {{ range .List }}
                        {{ if .selected }}
                            <li>{{ partial "publication.html" . }}</li>
                        {{ end }}
                    {{ end }}
                </ul>
            </div>
        {{ end }}

        {{ partial "section.html" (dict "Title" "Teaching" "Content" .Site.Params.Teaching) }}

        {{ partial "section.html" (dict "Title" "Awards" "Content" .Site.Params.Awards) }}

        {{ if .Site.Params.Posts.Enable }}
            <div class="posts">
                <h2 class="section-heading"><a href="{{ .Permalink }}posts/">Posts</a></h2>
                {{ with .Site.GetPage "/posts" }}
                    {{ range first site.Params.Posts.Latest (sort .Data.Pages "Date" "desc")}}
                        <div class="entry">
                            <div class="metadata">
                                <strong><a href="{{ .Permalink }}">{{ .Title }}</a></strong>
                                <time>{{ .Date | time.Format ":date_long" }}</time>
                            </div>
                        </div>
                    {{ end }}
                    {{ if gt (len .Pages) site.Params.Posts.Latest }}
                        <a href="{{ .Permalink }}">...</a>
                    {{ end }}
                {{ end }}
            </div>
        {{ end }}

        {{ with .Site.Params.Links }}
            <div class="links">
                <h2 class="section-heading">Links</h2>
                {{ range .List }}
                    <strong>{{ .platform }}: </strong><a href="{{ .url | safeURL }}">{{ .text }}</a>
                    <br/>
                {{ end }}
            </div>
        {{ end }}

        {{ with .Site.Params.People }}
            <div class="people">
                <h2 class="section-heading">People</h2>
                {{ if .Supervisor }}
                    <strong>Supervisor: </strong><a class="person" href="{{ .Supervisor.url | safeURL }}">{{ .Supervisor.name }}</a>
                    <br/>
                {{ end }}
                {{ if .Students }}{{ partial "people.html" (dict "Label" "Students" "List" .Students.List) }}<br/>{{ end }}
                {{ if .Collaborators }}{{ partial "people.html" (dict "Label" "Collaborators" "List" .Collaborators.List) }}{{ end }}
            </div>
        {{ end }}
    </div>
</div>

{{ end }}