{{ define "main" }}

<div class="paper">
    <h1>Error 404: Page Not Found</h1>
    <p>Dear user,</p>
    <p>We regret to inform you that your attempt to access this page has been rejected.</p> 
    <p>Suggestions for next steps:</p>
    <ul>
        <li>Verify the URL and attempt a resubmission.</li>
        <li>Return to the <a href="{{ .Site.BaseURL }}">homepage</a> to explore alternative sources.</li>
        <li>If you believe this is an error, consult the system administrator for further troubleshooting.</li>
    </ul>
    <p>We appreciate your continued engagement with our site and encourage further exploration.</p>
    <p>Sincerely, <br>The Site Editorial Board</p>
</div>

{{ end }}